body {
    color: white;
    background: black;
    text-align: center;
    font-family: DM Mono;
    margin-left: 20px;
    margin-right: 20px
}

p {
    margin-left: 15%;
    margin-right: 15%;
}

a {
    color: #2E9CFF
}

h1 {
    background: #B00000;
    text-align: center;
    font-family: Playfair Display;
    padding: 10px;
    border: 1px solid #650000;
}

h2 {
    background: #B00000;
    font-family: Playfair Display;
    text-align: center;
    padding: 10px;
    border: 1px solid #650000;
}

table {
    margin-left: auto;
    margin-right: auto
}

td {
    background: #1769B3;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid black;
}

.error {
    background-color: #FF7F7F;
    color: red;
    padding: 5px;
    margin: 20px 50px;
    border: 1px solid red;
}

td label {
    cursor: pointer;
    text-align: center;
}

form {
    margin: 5px;
    padding: 5px;
    color: green;
}

#instructions {
    display: none;
    border: 1px solid #650000;
    margin: 10px;
    padding: 20px;
    text-align: left;
}

#embeddedPlayer {
    display: none;
}

ul,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}